/src/utils/__pycache__/*
/src/visualization/*
/src/Measure/__pycache__/*
/src/Index/__pycache__/*
/src/Frontend/__pycache__/*
/src/Frontend/Data/*
/src/Frontend/static/*
/src/vis.py
/shellScript/*

.DS_Store
/ExpScripts/*
/Data/*
/Result/*
/Figure/*
/__pycache__/*
/.vscode/*
/out/*

environment_mobi.sif